<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Aplikasi Penjualan</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
	<br><br>
    <h1>Dashboard Aplikasi Data Inventory Kitchen</h1>
</header>
<br><br>
<main>
    <div class="description-box">
        <p>
			Aplikasi Inventory Kitchen ini dirancang untuk mendukung pengelolaan data dapur secara komprehensif, mencakup pencatatan stok bahan baku, manajemen pengguna, serta pengaturan transaksi keluar-masuk barang dengan akurasi tinggi. Aplikasi ini dilengkapi dengan fitur-fitur yang tidak hanya sederhana namun juga kaya fungsi, memungkinkan pengguna untuk melakukan operasi CRUD (Create, Read, Update, Delete) pada data bahan dapur, pengguna, dan transaksi, serta menyediakan analitik untuk mendukung pengambilan keputusan berbasis data.
        </p>
        <p>
            Dashboard ini menyediakan akses cepat ke modul utama aplikasi, seperti Kelola Pengguna, Kelola Barang, Transaksi Penjualan, dan Laporan Penjualan. Dengan antarmuka yang mudah digunakan, aplikasi ini cocok untuk kebutuhan bisnis kecil hingga menengah.
        </p>
    </div>
	<br>
    <div class="dashboard">
        <div class="menu-card" onclick="location.href='/users'">
            <h2>Kelola Pengguna</h2>
            <p><i class="fas fa-users"></i> Lihat Pengguna</p>
        </div>
        <div class="menu-card" onclick="location.href='/barang'">
            <h2>Kelola Barang</h2>
            <p><i class="fas fa-box-open"></i> Lihat Barang</p>
        </div>
        <div class="menu-card" onclick="location.href='/penjualan'">
            <h2>Transaksi Penjualan</h2>
            <p><i class="fas fa-shopping-cart"></i> Lihat Transaksi</p>
        </div>
        <div class="menu-card" onclick="location.href='/laporan'">
            <h2>Laporan Penjualan</h2>
            <p><i class="fas fa-chart-line"></i> Lihat Laporan</p>
        </div>
    </div>
  <br> <br> <br> 
</main>
<footer>
    <p>&copy; 2025 Data Inventory Kitchen - Kelompok Satu - Universitas Insan Pembangunan Indonesia</p>
</footer>
</body>
</html>
